html {
    box-sizing: border-box;
    font-family: 'Karla', serif;
    font-size: 17px;
    font-weight: 400;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h2, h3, p {
    margin: 0;
}

#top_section p {
    color: #98a6bd;
}

body {
    background-color: #e5eff5;
}

#card {
    width: 800px;
    height: 450px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 3px 4px -200px rgba(0, 0, 0, 0.36);
    overflow: hidden;
}

#top_section {
    width: 100%;
    height: 40%;
    padding: 40px;

}

#bottom_section {
    width: 100%;
    height: 60%;
    color: white;
}

#bottom_left {
    background-color: #2ab2af;
    display: inline-block;
    width: 50%;
    height: 100%;
    padding: 40px;
    vertical-align: top;
}

#bottom_right {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: #1ac9c5;
    vertical-align: top;
    padding: 40px;
}

#top_section h2 {
    color: #2ab2af;
    margin-bottom: 15px;
}

#top_section h3 {
    color: #c0df34;
    margin-bottom: 10px;
}

button {
    color: white;
    background-color: #c0df34;
    border : none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    background-color: #A9c420;
    transform: scale(1.02);
}

#price {
    font-weight: 700;
    font-size: 1.4rem;
}
#bottom_left h4{
    margin-bottom: 25px;
}
#price-frequency , #price{
    display: inline-block;
}
#price-frequency{
    position: relative;
    top : -3px;
    font-size: 0.8rem;
    opacity: 0.7;
    margin-left: 5px;
}
#bottom_left p{
    font-size: 0.95rem;
    margin-bottom: 40px;
}
ul{
    padding: 0;
    list-style: none;
    font-size: 0.9rem;
    opacity: 0.8;
}

